*.bak
*.csproj.user
*.ReSharper.user
*.sublime-*
*.suo
*.user
*.vcxproj.user
*.vshost.*
_ReSharper.*
_UpgradeReport_Files/
bin/
Bin/
build/
log.txt
NLogMerged.api.xml
obj/
packages/
StyleCop.Cache
TestResults/
test-results/
UpgradeLog*.XML
